@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

html, body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

nav {
    height: 48px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    position: relative;
}

nav .hamburger {
    padding: 12px 8px;
    border-right: 1px solid #666;
    width: 44px;
    height: 48px;
    display: inline-block;
}

nav .lateral-menu {
    position: absolute;
    top: 48px;
    left: 0;
    list-style: none;
    background-color: #ddd;
    min-width: 240px;
    display: none;
}

nav .lateral-menu li a {
    padding: 16px;
    height: 64px;
    display: flex;
    align-items: center;
    border-top: 1px solid #666;
}

nav .lateral-menu li svg {
    padding-right: 8px;
}

nav .lateral-menu a {
    text-decoration: none;
    color: #000;
}